# hidden and backup files
.*
*~

# misc filename extensions
*.DS_Store
*.orig
*.log
*.tmp
*.bak
*.iml
*.flattened-pom.xml

# data files
training_output.json 

# credentials files
/src/ai-models/defect-detection/exercises/files/*.json
/src/ai-models/predictive-maintenance/exercises/files/*.json
